[user]
	name = 
	email = 
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	dif = diff --unified=10 --
	pl = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[push]
	default = simple
[color]
	status = true
	ui = true
[core]
	quotepath = false
	editor = "emacsclient"
	excludesfile = /Users/vinurs/.gitignore_global
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[i18n]
[i18n]
	logOutputEncoding = UTF-8 UTF8 gbk
	commitencoding = utf-8
[diff]
	tool = Kaleidoscope
# 每次比较的时候不弹出提示
[difftool]
    prompt = false

[merge]
	tool = Kaleidoscope
# 每次merge的时候不弹出提示
[mergetool]
    prompt = false
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[commit]
	template = ~/.gitmessage
[log]
	date = local
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
