[user]
	name = haiyuan.zhang
	email = haiyuan.vinurs@gmail.com
	# 用gpg-key签名提交
	signingkey = 966E44FD
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	dif = diff --unified=10 --
	dt = difftool 
	dt-cached = difftool --cached
	dt-responsity = difftool HEAD
	ls-remote-local-br = remote show origin 
	# 删除远程分支
	rm-remote-branch = "!f(){ git branch -r -d origin/\"$1\" ; git push origin :\"$1\" ;};f"

	# log
	la = log --abbrev-commit 
	pl = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --

	unstage = reset HEAD --
	visual = !open -a Tower
	# 不跟踪一个文件
	# untrack = rm --cache --
[push]
	default = simple
# 颜色相关设置，不过我都是调用的外部命令，所以这个配置意义不是很大
[color]
	status = true
	ui = true
[core]
	quotepath = false
	editor = "emacsclient"
	excludesfile = ~/.gitignore_global
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[i18n]
[i18n]
	logOutputEncoding = UTF-8 UTF8 gbk
	commitencoding = utf-8
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
# 提交信息的时候模板
[commit]
	template = ~/.gitmessage
[log]
	date = local

# 每次比较的时候不弹出提示
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
  tool = Kaleidoscope
[difftool]
  prompt = false

[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true
[mergetool]
  prompt = false
[merge]
  tool = Kaleidoscope

