clipboard/history.dat
dbus/*
libpinyin/data/culture.dbin
libpinyin/data/gb_char.dbin
libpinyin/data/geology.dbin
libpinyin/data/merged.dbin
libpinyin/data/nature.dbin
libpinyin/data/scitech.dbin
libpinyin/data/sport.dbin
libpinyin/data/user_bigram.db
libpinyin/data/gbk_char.dbin
libpinyin/data/society.dbin
libpinyin/data/economy.dbin
libpinyin/data/life.dbin
