el-get
*elc
.emacs.desktop.lock
.emacs-desktop
.emacs-places
ac-comphist.dat
.zcache
srecode-map.el
abbrev_defs
semanticdb
.emacs.desktop
elpa/
ede-projects.el
projectile-bookmarks.eld
projectile.cache
recentf
smex-items


